.App {
  padding: 20px;
}

.person-table {
  border-collapse: collapse;
  width: 500px;

}

.person-table__header-cell {
  text-align: center;
}

.person-table__cell, .person-table__header-cell {
  padding: 5px 10px;
  border: 1px solid black;

}

.error {
  color: red;
}